{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 sign_form">
                <h1 class="text-center">Sign Up</h1>
                {% include "@FOSUser/Registration/register_content.html.twig" %}
                <h6>
                    <a href="{{ path('app_site_index') }}" class="text-muted">Main Page</a>
                    <span>&bull;</span>
                    <a href="{{ path('fos_user_security_login') }}" class="text-muted">Login</a>
                </h6>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
